<div id="modal_form" class="modal-dialog modal-lg"  role="dialog">
  <div class="modal-content">
     <div class="modal-header">
        
        <div class="col-auto m-2 text-lg-center" id="errores">
          {% if messages %}

            
              {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <h6 {% if message.tags %}
                      class="alert alert-danger alert-{{ message.tags }}"{% endif %} >{{ message }}</h6>
                  {% endif %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <h6{% if message.tags %} class="bg-success text-white text-center alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h6>
                  {% endif %}
                  
              {% endfor %}
          
          {% endif %}

        </div>
      </div>
      
          <div class="col-lg-8 align-self-center">
              <div class="m-2 text-center bg-opacity-50 text-secondary"><h4><strong >DEPENDENCIAS</strong></h4></div>
              <div class=" bg-opacity-25 text-primary text-center"><h5><strong >EDICION</strong></h5></div>
              <div class="col-12 align-self-center shadow-lg p-3 mb-5 bg-body rounded ">
                  <form action="{% url 'edit_operador' object.slug %}" method="post" id="form_add" class="card card-body text-center"> 
                            <div class="modal-body data-backdrop=true" id="modal-body">
                                
                                                  
                              <div class="col-lg-12  text-md-center  " id="oper_card">
                                {% csrf_token %}

                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 dt-center">
                                      
                                        <p>Operador: </p>
                                      
                                        <p>{{ form.operador}}</p>
                                      
                                  </div>
                                  
                                
                                <div class=" bg-opacity-25 text-primary text-center mt-2"><h5><strong >DESCRIPCIÓN</strong></h5></div>
                                
                                                              

                                <div class="row mt-2">
                                  <div class="col-form-label">
                                    <p>Dependencia: </p>
                                  </div>
                              </div>
                            
                              <div class="row row_ofi" >
                                  <div class="position-relative" data-model-ref="Oficina" id="ofi_select">
                                    {{ form.oficina}}
                                   
                                  
                                  </div>
                              </div>
                           
              
                                
                              </div>       
                                          
                                              
                            </div>
                            <div class="modal-footer">
                                <button class="close btn btn-success bg-opacity-75" type="button" onclick="modal_cerrar()">Cancelar</button>
                                <button id="btn_add" type="button" onclick="registrar()" class="btn btn-primary bg-opacity-75">Agregar</button>
                            </div>
                  </form>
              </div>
              
            
          </div>
      
  </div>
</div>
<script>
  $(document).ready(function() {
      $('#oficina').select2(
      );
  });
  </script>


  
