<h2>Log In</h2>
{% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <li{% if message.tags %} class="bg-danger text-white alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <li{% if message.tags %} class="bg-success text-white alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
        
{% endfor %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>