{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
  <div class="col-lg-8 offset-lg-2">
    {% if messages %}
      <div class="alert alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger mb-3" role="alert">
              {{ message }}
            </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success mb-3" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>
</div>


<div class="container mt-5" style="  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.50) 50%, rgba(255, 255, 255, 0.100) 100%); border-radius: 10px;">
  <div style="padding: 5px; display: inline-block; border-radius: 5px;">
    <a href="{% url 'index' %}">
        
        <button class="btn btn-dark" style="padding: 0px;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAd5JREFUaEPtWDtSwzAQ3bVcJLYn14BbcAlogIJhoKCjoYEeGhoaCj4NNFBxBo4B54iSxh4xjh2PY/yRtGIkD0rpaKX39j3vroUw8h+OHD94ArYV9Ap4BYgZ8BZqJlAslzs4nX4SEysdblSBjPMzALgHgGsWx1fSKAgLjRFIOT9GgOcKC+I5i6I7AjapUCMEUs5PEOCxeWKQZds4m31JIdFcRCZQZv4JYKOrCyHEUZgkL5q4pMNIBGyDz1lqE3ABvDYBV8BrEUjn8wNEfP3lecT9MIrepM1raKGShUrw+YsZ1M4XwhJ4JQVcBC9NoAN8JhAPbdim7r5BC/WA3wuj6MOQlbW36SXgOvheC6WLxS4K8d54YbUzRQ1kcdya7NaHJfi8JDLqwabi/xeBPGuuqaCkwFr2jvcgL59OVCCpPuB6JRrsAys7FfNPc4QYRyOr7NROwuocJGWhehl0cR6SslALiXGO05WdihsIa9/BSsNcVyd15atM2UIbdnJACRKBVYm1TIJMoCRxigAPTbsFjG3hZPJtaqBr28cIgXzj2r1ocY4QFyxJbv8SvHIfGAJTI3HD4vhyaL2J/40psAYz6ut1ExlV3cO4AqoAqOs9AWoGqfFeAWoGqfFeAWoGqfE/hL7gMaF9ihQAAAAASUVORK5CYII="/>
        </button>

    </a>
  </div>
  <div class="row justify-content-center" >
    <div class="col-lg-8">
      <h2 class="text-center mb-4"><strong>Cambio de Contraseña</strong> </h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_old_password" class="form-label"><strong>Contraseña antigua:</strong></label>
          <input type="password" class="form-control" name="old_password" id="id_old_password" autocomplete="current-password" autofocus required>
          <div class="text-danger">
            {{ form.old_password.errors }}
          </div>
        </div>
        <div class="mb-3">
          <label for="id_new_password1" class="form-label"><strong>Contraseña nueva:</strong></label>
          <input type="password" class="form-control" name="new_password1" id="id_new_password1" autocomplete="new-password" required>
          <div class="text-danger">
            {{ form.new_password1.errors }}
          </div>
          <span class="helptext">
            <ul>
              <li>Su contraseña no puede ser similar a otros componentes de su información personal.</li>
              <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
              <li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
              <li>Su contraseña no puede estar formada exclusivamente por números.</li>
            </ul>
          </span>
        </div>
        <div class="mb-3">
          <label for="id_new_password2" class="form-label"><strong>Confirmación de contraseña nueva:</strong></label>
          <input type="password" class="form-control" name="new_password2" id="id_new_password2" autocomplete="new-password" required>
          <div class="text-danger">
            {{ form.new_password2.errors }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cambiar</button>
      </form><br>
    </div>
  </div>
</div>

{% endblock %}
