{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="col-10 m-5 text-lg-center">
  {% if messages %}

    
      {% for message in messages %}
        
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <h6 {% if message.tags %}
              class="alert alert-danger alert-{{ message.tags }} opacity-50 "{% endif %} role="alert">{{ message }}</h6>
          {% endif %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <h6{% if message.tags %} class="bg-success text-white text-center alert alert-{{ message.tags }} opacity-50"{% endif %}>{{ message }}</h6>
          {% endif %}
          
      {% endfor %}
  
  {% endif %}

</div>


<div class="container m-5">
  <div class="">
      <h2 class="text-center">Cambio de Contraseña</h2>
        <div class="container-fluid m-4">
          <div class="text-danger ">
            {{ form.old_password.errors }}
            {{ form.new_password2.errors }}

          </div>
         
          <div class="card-body col-lg-10">

            <form method="post">
            {% csrf_token %}
           
          <p>
            <label for="id_old_password"><strong>Contraseña antigua:</strong></label>
            <input  class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
            
          </p>

          
          <p>
            <label for="id_new_password1"><strong>Contraseña nueva:</strong></label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            
            
            <span class="helptext"><ul><li>Su contraseña no puede ser similar a otros componentes de su información personal.</li><li>Su contraseña debe contener por lo menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li><li>Su contraseña no puede estar formada exclusivamente por números.</li></ul></span>
            
            
          </p>

          
          <p>
            <label for="id_new_password2"><strong>Confirmación de contraseña nueva: </strong></label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
             
            
          </p>
          <button class="btn btn-primary" type="submit">Cambiar</button>


            </form>

           
           

          </div>
        </div>
  </div>
</div>
{% endblock %}