<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content  bg-dark">
     <div class="modal-header">
        
        <div class="col-auto m-2 text-lg-center" id="errores">
          {% if messages %}

            
              {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <h6 {% if message.tags %}
                      class="alert alert-danger alert-{{ message.tags }}"{% endif %} >{{ message }}</h6>
                  {% endif %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <h6{% if message.tags %} class="bg-success text-white text-center alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h6>
                  {% endif %}
                  
              {% endfor %}
          
          {% endif %}

        </div>
      </div>
      
          <div class="align-self-center">
              <div class="m-2 text-center bg-opacity-50 text-secondary"><h4><strong >REGISTRAR TIPOS DE RECLAMO</strong></h4></div>
              <div class=" bg-opacity-25 text-primary text-center"><h5><strong >DESCRIPCIÓN</strong></h5></div>
              <div class="col-12 align-self-center shadow-lg p-3 mb-5 bg-body rounded ">
                  <form action="{% url 'add_tipo_rec' %}" method="post" id="form_add" class="card card-body text-center"> 
                            <div class="modal-body data-backdrop=true">
                                
                                                  
                                <div class="h-auto  text-md-center m-1 text-black">
                                    {% csrf_token %}
                                    <div>
                                        CODIGO RECLAMO
                                    </div>
                                    <div class="mb-2">
                                       
                                        {{ form.codigo_rec}}
                                    </div>
                                    <div>
                                        TIPO DE RECLAMO
                                    </div>
                                    <div class="mb-2">
                                       
                                        {{ form.dsc_tipo_rec}}
                                    </div>
                                    <div class="h-auto  text-md-center m-1">
                                        <div>
                                            FECHA ANUAL
                                        </div>
                                    
                                        <div class="mb-2">
                                         
                                            {{ form.tipo_anual}}
                                    </div>
                                    
                                    
                          </div>          
                                                  
                                                            
                                                        
                                              
                            </div>
                            <div class="modal-footer">
                                <button class="close btn btn-success bg-opacity-75" type="button" onclick="modal_cerrar()">Cancelar</button>
                                <button id="btn_add" type="button" onclick="registrar()" class="btn btn-primary bg-opacity-75">Agregar</button>
                            </div>
                  </form>
              </div>
              
            
          </div>
      
  </div>
</div>