{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="m-3">

          <div class="text-center dropup-center display-6 fw-bold opacity-50 fst-italic">LISTADO PRIORIDADES Y NIVELES</div>
          <div class="col-10 m-5 text-lg-center">
              {% if messages %}

                
                  {% for message in messages %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                          <h6 {% if message.tags %}
                          class="alert alert-danger alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</h6>
                      {% endif %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                          <h6{% if message.tags %} class="bg-success text-white text-center alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h6>
                      {% endif %}
                      
                  {% endfor %}
              
              {% endif %}
          
          </div>
    
    
    </div>
  
  <div class="mt-4">
    <div style="padding: 5px; display: inline-block; border-radius: 5px;">
      <a href="{% url 'index' %}">
          <button class="btn btn-dark" style="padding: 0px;">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAUBJREFUWEft1k1OwzAQBeD3ZPtksIQrsCiwgEvQcgVEEQghDgG7IvVGHCCpBrVKiis18U9sE6Rk2zTz5c1oHGJkF0fmwQRydWRKKGtCUlUnNObLVSTk9+iWSV2/ALgGeUel7kOK9t0bBZK6fgRwaz34jFp/pkAFg/bJ/FZ/otY2bpArCJQbs30Tb1AJjBdIRIjN5nk3wJnaZPe4N6EG8w7gogSmN6EOzBu1vhw0tY4/H02oCwOlrkhKUVCDeQUwswp/Q+QBQGrMmsasO2eoI5l8gYgsaMz8/4C20lG1rI1uVEP916iYxZh1FznPstLb2gmyBr3IeeYF2s9V+5WY8ZANAu3SyowKBjWoJYAba8OeU+uPFCs9CnSQFDmnUosUGK8PtL5CUlWnNGaVCjMYlBLSPiu6ZTkwU0I+qU4tc6X0A9D0oSUlvNfRAAAAAElFTkSuQmCC"/>
          </button>
      </a>
    </div>
    <button onclick="modal_data('{% url 'add_prioridad' %}')" class="btn btn-block btn-primary ">Agregar</button>
  </div>
 <div class="div_separador">
    Registros por página
 </div>
  <table id="prioridades" class="table table-dark table-striped dt-responsive nowrap m-2 " style="width:100%" >
  <thead>
      <tr class="bg-primary text-white opacity-50" >
          
          <th scope="col">DESCRIPCION PRIORIDAD</th>
          <th scope="col">NIVEL PRIORIDAD</th>
          <th scope="col">ACCIONES</th>
          
      </tr>
  </thead>
  <tbody>
    {% for mrc in prioridades %}
      <tr>
        
        <td>{{ mrc.dsc_prior }}</td>
        <td>{{ mrc.nivel_prior }}</td>
     
          <td>
            <button onclick="modal_data('{% url 'edit_prioridad' mrc.slug %}')"  class="btn btn-outline-primary">Edit</button>
            <button onclick="modal_data('{% url 'del_prioridad' mrc.slug %}')"  class="btn btn-outline-danger">Eliminar</button>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="modal fade" id="data" role="dialog">


</div>

{% endblock %}
{% block codigo %}
<script>
  $(document).ready(function () {
            //#users es el id de la tabla
            $('#prioridades').removeAttr('width').DataTable( {
              destroy: true,
              dom: '<"wrapper"flitp>',
              buttons: [
               
                    {
                      extend: 'excelHtml5',
                      text: '<i class="far fa-file-excel mr-2 btn btn-success btn-sm"></i>',
                    },
                    {
                    extend: 'pdfHtml5',
                    text: '<i class="far fa-file-pdf mr-2 btn btn-danger btn-sm"></i>',
                    
                    }
              ],
              columnDefs : [
                
                { "width": "50%", "targets": 0, "className": 'dt-head-center' },
                { "width": "30%", "targets": 1, "className": 'dt-center' },
                { "width": "10%", "targets": 2, "className": 'dt-center' },
                
               
              ],
                pageLength: 5,
                fixedHeader: {
                    header: true,
                    footer: true
                },
                lengthMenu: [[5,10,20,-1],[5,10,20,'Todos']],
                language: {
                    zeroRecords: 'No se encontraron Registros',
                    search:  'Buscar',
                    lengthMenu:     " _MENU_ ",
                    info: "REG: _START_ - _END_ de _TOTAL_ ",
                
                    paginate: {
                        first:    '«',
                        previous: '‹',
                        next:     '›',
                        last:     '»'
                    },
                    aria: {
                        paginate: {
                            first:    'Primera',
                            previous: 'Anterior',
                            next:     'Siguiente',
                            last:     'Ultima'
                        }
                    }
                
                
                
                
                
                }
                
                   
                
            })
        });

        //esto es del sweetalert2

//esto es del sweetalert2

</script>

{% endblock %}