{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="m-3">

          <div class="text-center dropup-center display-6 fw-bold opacity-50 fst-italic">RECLAMOS REGISTRADOS</div>
          <div class="col-10 m-5 text-lg-center">
              {% if messages %}

                
                  {% for message in messages %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                          <h6 {% if message.tags %}
                          class="alert alert-danger alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</h6>
                      {% endif %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                          <h6{% if message.tags %} class="bg-success text-white text-center alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h6>
                      {% endif %}
                      
                  {% endfor %}
              
              {% endif %}
          
          </div>
    
    
    </div>
  
  <div class="mt-4">
    <div style="padding: 5px; display: inline-block; border-radius: 5px;">
      <a href="javascript: history.go(-1)">
          <button class="btn btn-dark" style="padding: 0px;">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAUBJREFUWEft1k1OwzAQBeD3ZPtksIQrsCiwgEvQcgVEEQghDgG7IvVGHCCpBrVKiis18U9sE6Rk2zTz5c1oHGJkF0fmwQRydWRKKGtCUlUnNObLVSTk9+iWSV2/ALgGeUel7kOK9t0bBZK6fgRwaz34jFp/pkAFg/bJ/FZ/otY2bpArCJQbs30Tb1AJjBdIRIjN5nk3wJnaZPe4N6EG8w7gogSmN6EOzBu1vhw0tY4/H02oCwOlrkhKUVCDeQUwswp/Q+QBQGrMmsasO2eoI5l8gYgsaMz8/4C20lG1rI1uVEP916iYxZh1FznPstLb2gmyBr3IeeYF2s9V+5WY8ZANAu3SyowKBjWoJYAba8OeU+uPFCs9CnSQFDmnUosUGK8PtL5CUlWnNGaVCjMYlBLSPiu6ZTkwU0I+qU4tc6X0A9D0oSUlvNfRAAAAAElFTkSuQmCC"/>
          </button>
      </a>
    </div>
    <button onclick="modal_data('{% url 'add_reclamo' %}')" class="btn btn-block btn-primary ">Agregar</button>
  </div>
 
  <table id="reclamos" class="table table-dark table-striped dt-responsive nowrap m-2 " style="width:100%" >
  <thead>
      <tr class="bg-primary text-white opacity-50" >
          <th scope="col">ORD</th> 
          <th scope="col">DATOS PERSONALES</th>
          <th scope="col">TIPO DE RECLAMO</th>
          <th scope="col">DESDE</th>
          <th scope="col">HASTA</th>
          <th scope="col">DIAS</th>
          <th scope="col">ESTADO</th>
          <th scope="col">RES. PAGO</th>
          <th scope="col">SUPLEM.</th>
          <th scope="col">AÑO CREDITO</th>
          <th scope="col">ACCIONES</th>
          
      </tr>
  </thead>
  <tbody>
    {% for mrc in reclamos %}

    

      <tr>
        <td>{{ mrc.prioridad_reclamos.orden }}</td>
        <td>{{ mrc.id_legajo }}</td>
        <td>{{ mrc.id_tipo_rec }}</td>
        <td>{{ mrc.fch_dsd_rec|date:'d-m-Y' }}</td>
        <td>{{ mrc.fch_hst_rec|date:'d-m-Y' }}</td>
        <td>{{ mrc.dias_rec }}</td>
        <td>{{ mrc.std_rec }}</td> 
        <td>{{ mrc.resol_pago_rec }}</td> 
        <td>{{ mrc.nro_supl }}</td> 
        <td>{{ mrc.year_credito }}</td>       
     
          <td>
            <button onclick="modal_data('{% url 'edit_reclamo' mrc.slug %}')"  class="btn btn-outline-primary" title="Editar Reclamo">E</button>
            <button onclick="modal_data('{% url 'del_reclamo' mrc.slug %}')"  class="btn btn-outline-danger" title="Eliminar Reclamo">-</button>
            <a class="btn btn-outline-secondary" href="{% url 'list_detalles' mrc.slug %}" title="Historial de Exptes">H</a>
            
            <button onclick="modal_data('{% url 'edit_rec_deuda' mrc.deudas_reclamos.slug %}')"  class="btn btn-outline-success" title="Establecer Prioridad">$</button>
            <button onclick="modal_data('{% url 'edit_supl_rec' mrc.slug %}')"  class="btn btn-outline-light" title="Datos Suplementaria">R</button>
           
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="modal fade" id="data" role="dialog">


</div>

{% endblock %}
{% block codigo %}


<script>
  $(document).ready(function () {
            //#users es el id de la tabla
            var dataTable=$('#reclamos').removeAttr('width').DataTable( {
              deferRender: true,
              
              dom: 'fBlitp',
              stateSave: false,
              buttons: [
                    {
                    extend: 'excelHtml5',
                    text: '<i class="far fa-file-excel mr-2 btn btn-success btn-sm"></i>',
                    title: 'PLANILLA REGISTRO DE RECLAMOS',
                      
                      
                    exportOptions: {
                          columns: [0,1,2,3,4,5,6],
                          excelStyles: [                      // Add an excelStyles definition
                              {                 
                                template: 'cyan_medium',
                              },
                             
                              {
                                 // cells: ['A','B','C'],  // Use Smart References (s) to target the header row (h) 
                                                 
                                  style: {                    // The style definition
                                      font: {                 // Style the font
                                          name: 'Arial',
                                          size: '8',           // Size 14
                                          b: false,
                                          i:true,
                                                    // Turn off the default bolding of the header row
                                          
                                      },
                                      
                                      alignment: {
                                        vertical: "center",
                                        horizontal: "center",
                                        wrapText: false,
                                     },
                                    
 
                                  },
                              },
                              {
                                  cells: 'sh',  // Use Smart References (s) to target the header row (h) 
                                                 
                                  style: {                    // The style definition
                                      font: {                 // Style the font
                                          name: 'Arial',
                                          size: '10',           // Size 14
                                          b: true,
                                          color: 'FFFFFF',           // Turn off the default bolding of the header row
                                          
                                      },
                                      fill: {                 // Style the cell fill
                                          pattern: {          // Add a pattern (default is solid)
                                              color: '1C3144', // Define the fill color
                                              
                                              
                                          }
                                      },
                                      alignment: {
                                        vertical: "center",
                                        horizontal: "center",
                                        wrapText: false,
                                     },
 
                                  },
                              },
                           
                              {
                                  cells: 'st',  // Use Smart References (s) to target the header row (h) 
                                                 
                                  style: {                    // The style definition
                                      font: {                 // Style the font
                                          name: 'Arial',
                                          size: '20',           // Size 14
                                          b: true,
                                          color: 'FFFFFF',           // Turn off the default bolding of the header row
                                          
                                      },
                                      fill: {                 // Style the cell fill
                                          pattern: {          // Add a pattern (default is solid)
                                              color: '1C3144', // Define the fill color
                                              
                                              
                                          }
                                      },
                                      alignment: {
                                        vertical: "center",
                                        horizontal: "center",
                                        wrapText: false,
                                     },
 
                                  },
                              },
                           
                           
                          {
                            cells: ['sA'],  //condicion para las filas de la columna A
                            
                            style:{
                              font:{
                                name: 'Arial',
                                size: '8',           // Size 14
                                b: true,
                                
                                
                              },
                              
                            },
                            fill: {                 // Style the cell fill
                                     pattern: {          // Add a pattern (default is solid)
                                        color: '1C3144', // Define the fill color
                                              
                                              
                                     }
                                   },
                          },
                        ],      
                      


                    },  
                    
                    },
                    {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    text: '<i class="far fa-file-pdf mr-2 btn btn-danger btn-sm"></i>',
                    title: 'PLANILLA REGISTRO DE RECLAMOS',
                      
                      
                      exportOptions: {
                            columns: [0,1,2,3,4,5,6],
                            pageStyle: {
                                sheetPr: {
                                    pageSetUpPr: {
                                        fitToPage: 1            // Fit the printing to the page
                                    } 
                                },
                                printOptions: {
                                    horizontalCentered: true,
                                    verticalCentered: true,
                                },
                                pageSetup: {
                                    orientation: "landscape",   // Orientation
                                    paperSize: "1",             // Paper size (1 = Letter, 9 = A4)
                                    fitToWidth: "100",            // Fit to page width
                                    fitToHeight: "0",           // Fit to page height
                                },
                                pageMargins: {
                                    left: "0.1",
                                    right: "0.1",
                                    top: "0.4",
                                    bottom: "0.4",
                                    header: "2",
                                    footer: "2",
                                },
                                repeatHeading: true,    // Repeat the heading row at the top of each page
                                repeatCol: 'A:A',       // Repeat column A (for pages wider than a single printed page)
                            },
                            
                            
                            excelStyles: [                      // Add an excelStyles definition
                                {                 
                                  template: 'header_blue',
                                  
                                 
                                },
                                
                                
                                {

                                   // cells: ['A','B','C'],  // Use Smart References (s) to target the header row (h) 
                                                   
                                    style: {                    // The style definition
                                        font: {                 // Style the font
                                            name: 'Arial',
                                            size: '4',           // Size 14
                                            b: false,
                                            i:true,
                                                      // Turn off the default bolding of the header row
                                            
                                        },
                                        
                                        alignment: {
                                          vertical: "center",
                                          horizontal: "center",
                                          wrapText: false,
                                       },
                                        title: {
                                          alignment: 'center',
                                          fontSize: '14',
                                      },
                                        
                                         

                                      
                                      
   
                                    },
                                },
                               
                            ],      
                           
  
  
  
                      },  
                      
                    
                    },
                    {
                    
                    extend: 'colvis',
                    
                  } 
              
              ],
              
              columnDefs : [
                
              { "width": "8%", "targets": 0, "className": 'dt-center' },  
              { "width": "30%", "targets": 1, "className": 'dt-head-center' },
                { "width": "20%", "targets": 2, "className": 'dt-head-center' },
                { "width": "8%", "targets": 3, "className": 'dt-head-center' },
                { "width": "8%", "targets": 4, "className": 'dt-center' },
                { "width": "8%", "targets": 5, "className": 'dt-head-center' },
                { "width": "8%", "targets": 6, "className": 'dt-head-center' },
                { "width": "8%", "targets": 7, "className": 'dt-center' },
                { "width": "8%", "targets": 8, "className": 'dt-center' },
                { "width": "8%", "targets": 9, "className": 'dt-center' },
                { "width": "28%", "targets": 10, "className": 'dt-head-center' },
                
                

                
               
              ],
                pageLength: 5,
                fixedHeader: {
                    header: true,
                    footer: true
                },
                lengthMenu: [[5,10,20,-1],[5,10,20,'Todos']],
                language: {
                    zeroRecords: 'No se encontraron Registros',
                    search:  'Buscar',
                    lengthMenu:     " _MENU_ ",
                    info: "REG: _START_ - _END_ de _TOTAL_ ",
                    buttons: {
                        colvis: 'Columnas'
                    },
                
                    paginate: {
                        first:    '«',
                        previous: '‹',
                        next:     '›',
                        last:     '»'
                    },
                    aria: {
                        paginate: {
                            first:    'Primera',
                            previous: 'Anterior',
                            next:     'Siguiente',
                            last:     'Ultima'
                        }
                    }
                
                
                
                
                
                }
                
                   
                
              });

$('#reclamos thead tr').clone(true).addClass('filters').appendTo('#reclamos thead');



const render_table =  () => {
 
  const prevInputs = [];
  dataTable.columns().every(function(){


    data_head=(this.index(), 1, $(`#reclamos thead [colindex="${this.index()}"]`).val())
    prevInputs.splice(data_head);
 
       
     

    
  });
  


  $('#reclamos thead tr:eq(1) ').each( function () {
      var title = $(this).text();
      
       
      $(this).html( '<th><input type="text" placeholder="Search '+title+'" class="column_search" /></th>' );
      
      
      
  } );
 
  $('#reclamos thead tr:eq(1)').empty()
  
  dataTable.columns([0,1,2,3,4,5,6,7,8,9]).every(function(){
   
    this.visible() ?
    
    $('#reclamos thead tr:eq(1)').append(`<th><input class="text-center form-control " colindex="${this.index()}" placeholder="${$(this.header()).text()}" value="${prevInputs[this.index()] || ''}"></input></th>`) :
    true;
  });
};

render_table();

$('#reclamos').on('column-visibility.dt', render_table);

$('#reclamos').on('keyup', 'thead input', function(event){
  dataTable.column($(event.target).attr('colindex')).search($(event.target).val()).draw();
});


});
</script>


{% endblock %}